In [ ]:
import TigerTail as tt

```
>>> imports the TigerTail library
```

In [ ]:
t1 = tt.TimeSeries.load_csv(file_loc='t1.csv', agg_func='mean', time_col='t', value_col='z')

```
>>> imports t1 as a TimeSeries object
```

In [ ]:
t2 = tt.TimeSeries.load_json(file_loc='t2.json', agg_func='stdev', time_col='time[s]', value_col='value')

```
>>> imports t2 as a TimeSeries object
```

In [ ]:
t1.window(5, 'sec')

```
>>> returns pandas Series object of mean values for 5 second window intervals
```
| datetime | z |
|---|---|
| 2000-01-01 00:00:00 | 2.73 |
| 2000-01-01 00:00:05 | 3.86 |
| ... | ... |
| 2000-01-01 00:10:55 | 1.72 |
| 2000-01-01 00:11:00 | 2.96 |

In [ ]:
t2.apply(lambda x: 0 if x < else 0 np.max(x)).window(3, 'min')

```
>>> returns t2 with the custom lambda function instead of the originally specificed mean function
```
| datetime | value |
|---|---|
| 2000-01-01 00:00:00 | 5.4 |
| 2000-01-01 00:03:00 | 0 |
| ... | ... |
| 2000-01-01 00:09:00 | 0 |
| 2000-01-01 00:12:00 | 12.5 |

In [ ]:
t1.plot()

```
>>> returns a plot of the raw data in t1
```
![img](missing.png)

In [ ]:
tdf = t1 + t2

```
>>> creates a TigerTail dataframe object that contains t1 and t2
```

In [ ]:
tdf.window(5, 'min')

```
>>> returns a pandas dataframe with 5 minute window intervals using the default aggregation used in the original import
```
| datetime | z | value |
|---|---|---|
| 2000-01-01 00:00:00 | 2.73 | 4.4 |
| 2000-01-01 00:00:05 | 3.86 | -2.3 |
| ... | ... |...|
| 2000-01-01 00:10:55 | 1.72 | -7.4 |
| 2000-01-01 00:11:00 | 2.96 | 9.2 |

In [ ]:
tdf2 = t1.apply('stdev') + t2

```
>>> creates a TigerTail dataframe object that contains t1 with the new stdev aggregate value and t2 with the original t2 aggregate function
```

In [ ]:
tdf2.window(1, 'hour').plot()

```
>>> returns a matplotlib axes object plotting both tdf2 for 1 hour window intervals
```
![missing.png](missing.png)

In [ ]:
import matplotlib.pyplot as plt

fig, ax = plt.subplots(2, 1)

tdf.window(1, 'min').plot(ax=ax[0])
tdf2.window(1, 'min').plot(ax=ax[1])

```
>>> assigns the plot to the matplotlib axes instead of building a figure and axes object for itself
```

In [ ]:
e1 = tt.EventSeries.load_csv(file_loc='e1.csv', agg_func='count', time_col='t', value_col='carcrash')

```
>>> imports e1 as an EventSeries object
```

In [ ]:
tdf3 = t1 + t2 + e1

```
>>> creates a TigerTail dataframe of the TimeSeries objects t1 and t2 and the EventSeries object e1
```

In [ ]:
tdf3.window(3, 'min').plot()

```
>>> returns a single matplotlib axes object with the traces for t1, t2, and e1
```
![missing.png](missing.png)