Download the Bar Crawl: Detecting Heavy Drinking dataset used in this notebook from: https://archive.ics.uci.edu/dataset/515/bar+crawl+detecting+heavy+drinking

In [1]:
from tigertail import TimeFrame, TimeSeries, EventSeries
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt

In [6]:
# get the TAC (transdermal alcohol content) data for subject SA0297

SA0297_TAC_path = '../data/bar-crawl-detecting-heavy-drinking/clean_tac/SA0297_clean_TAC.csv'
SA0297_TAC_df = pd.read_csv(SA0297_TAC_path).set_index('timestamp')
# SA0297_TAC_df.index.name = None
SA0297_TAC_df

            TAC_Reading
timestamp
1493716723    -0.010229
1493718546    -0.002512
1493718863     0.003249
1493719179     0.005404
1493719495     0.003377
1493719811    -0.001451
1493720127    -0.005816
1493720443    -0.006248
1493720759    -0.001631
1493721075     0.005332
1493721391     0.009407
1493721707     0.006597
1493723525    -0.002201
1493725342    -0.010741
1493727159    -0.011314
1493728977    -0.000636
1493730802     0.016699
1493732624     0.030566
1493734448     0.032672
1493736273     0.023972
1493738100     0.016196
1493739942     0.025131
1493741783     0.059263
1493743607     0.111503
1493745449     0.160592
1493747291     0.182644
1493749138     0.166101
1493750985     0.120321
1493752827     0.071503
1493754671     0.047758
1493756515     0.062414
1493758342     0.106077
1493760186     0.152476
1493762037     0.174293
1493763882     0.158992
1493765726     0.114999
1493767571     0.065172
1493769417     0.032527
1493771262     0.027547
1493773106     0.044422
1493774950     0.067225
1493776792     0.080797
1493778633     0.079004
1493780475     0.065889
1493782319     0.050462
1493784159     0.039745
1493786000     0.034904
1493787840     0.032288
1493789681     0.027591
1493791505     0.019586
1493793329     0.010822
1493795153     0.005265
1493796976     0.004950
1493798799     0.008145
1493800622     0.010223
1493802445     0.006509
1493804271    -0.004768
1493806094    -0.021275

In [8]:
CC6740_TAC_path = '../data/bar-crawl-detecting-heavy-drinking/clean_tac/CC6740_clean_TAC.csv'
CC6740_TAC_df = pd.read_csv(CC6740_TAC_path).set_index('timestamp')
# SA0297_TAC_df.index.name = None
CC6740_TAC_df

            TAC_Reading
timestamp
1493723434     0.003947
1493725257     0.000898
1493725585    -0.000894
1493725900    -0.001021
1493726214    -0.000139
1493726528     0.000598
1493726843     0.000457
1493727157    -0.000335
1493727471    -0.000855
1493727785    -0.000387
1493728100     0.000795
1493728414     0.001479
1493730230     0.000539
1493732045    -0.001725
1493733874    -0.003032
1493735703    -0.000047
1493737519     0.009506
1493739345     0.024861
1493741188     0.041870
1493743031     0.055006
1493744861     0.060860
1493746705     0.061028
1493748550     0.062314
1493750394     0.073507
1493752239     0.100132
1493754083     0.140060
1493755928     0.182767
1493757773     0.213177
1493759617     0.218469
1493761462     0.194448
1493763308     0.148161
1493765156     0.095394
1493767005     0.054354
1493768851     0.038640
1493770697     0.052713
1493772526     0.091390
1493774372     0.142834
1493776216     0.193018
1493778059     0.229680
1493779902     0.244715
1493781747     0.235137
1493783592     0.203174
1493785437     0.155773
1493787281     0.103274
1493789128     0.056929
1493791223     0.025582
1493793230     0.012700
1493795074     0.015250
1493796893     0.025327
1493798736     0.033952
1493800579     0.035216
1493802423     0.028566
1493804265     0.018062
1493806093     0.009171
1493807921     0.005121
1493809750     0.005040

In [11]:
TAC_df = pd.concat([SA0297_TAC_df, CC6740_TAC_df], axis=1, keys=['SA0297', 'CC6740'])
TAC_df

                SA0297      CC6740
           TAC_Reading TAC_Reading
timestamp
1493716723   -0.010229         NaN
1493718546   -0.002512         NaN
1493718863    0.003249         NaN
1493719179    0.005404         NaN
1493719495    0.003377         NaN
...                ...         ...
1493802423         NaN    0.028566
1493804265         NaN    0.018062
1493806093         NaN    0.009171
1493807921         NaN    0.005121
1493809750         NaN    0.005040

[114 rows x 2 columns]

In [7]:
accelerometer_path = '../data/bar-crawl-detecting-heavy-drinking/all_accelerometer_data_pids_13.csv'
accelerometer_df = pd.read_csv(accelerometer_path).set_index('time')
accelerometer_df

                  pid         x         y         z
time
0              JB3156  0.000000  0.000000  0.000000
0              CC6740  0.000000  0.000000  0.000000
1493733882409  SA0297  0.075800  0.027300 -0.010200
1493733882455  SA0297 -0.035900  0.079400  0.003700
1493733882500  SA0297 -0.242700 -0.086100 -0.016300
...               ...       ...       ...       ...
1493829248196  CC6740 -0.133956  0.124726 -0.010736
1493829248220  CC6740 -0.100764  0.180872  0.046449
1493829248245  CC6740 -0.131853  0.195934  0.181088
1493829248270  CC6740 -0.149704  0.194482  0.202393
1493829248294  CC6740 -0.107288  0.153548  0.168595

[14057567 rows x 4 columns]

In [12]:
SA0297_mask = accelerometer_df['pid'] == 'SA0297'
SA0297_accelerometer_df = pd.DataFrame(accelerometer_df[SA0297_mask])
SA0297_accelerometer_df

                  pid       x       y       z
time
1493733882409  SA0297  0.0758  0.0273 -0.0102
1493733882455  SA0297 -0.0359  0.0794  0.0037
1493733882500  SA0297 -0.2427 -0.0861 -0.0163
1493733883945  SA0297 -0.2888  0.0514 -0.0145
1493733883953  SA0297 -0.0413 -0.0184 -0.0105
...               ...     ...     ...     ...
1493824735596  SA0297 -0.0107  0.0801  0.0840
1493824735641  SA0297  0.0132  0.0835  0.0493
1493824735686  SA0297  0.0480 -0.0071  0.1374
1493824735731  SA0297  0.0597 -0.0426 -0.1090
1493824735776  SA0297 -0.0061 -0.0700 -0.0018

[962901 rows x 4 columns]

In [16]:
SA0297_accelerometer_df = SA0297_accelerometer_df.loc[~SA0297_accelerometer_df.index.duplicated(keep='first')]
SA0297_accelerometer_df

                  pid       x       y       z
time
1493733882409  SA0297  0.0758  0.0273 -0.0102
1493733882455  SA0297 -0.0359  0.0794  0.0037
1493733882500  SA0297 -0.2427 -0.0861 -0.0163
1493733883945  SA0297 -0.2888  0.0514 -0.0145
1493733883953  SA0297 -0.0413 -0.0184 -0.0105
...               ...     ...     ...     ...
1493824735596  SA0297 -0.0107  0.0801  0.0840
1493824735641  SA0297  0.0132  0.0835  0.0493
1493824735686  SA0297  0.0480 -0.0071  0.1374
1493824735731  SA0297  0.0597 -0.0426 -0.1090
1493824735776  SA0297 -0.0061 -0.0700 -0.0018

[962891 rows x 4 columns]

In [18]:
SA0297_df = pd.concat([SA0297_accelerometer_df, SA0297_TAC_df], axis=1)
SA0297_df

                  pid       x       y       z  TAC_Reading
1493733882409  SA0297  0.0758  0.0273 -0.0102          NaN
1493733882455  SA0297 -0.0359  0.0794  0.0037          NaN
1493733882500  SA0297 -0.2427 -0.0861 -0.0163          NaN
1493733883945  SA0297 -0.2888  0.0514 -0.0145          NaN
1493733883953  SA0297 -0.0413 -0.0184 -0.0105          NaN
...               ...     ...     ...     ...          ...
1493798799        NaN     NaN     NaN     NaN     0.008145
1493800622        NaN     NaN     NaN     NaN     0.010223
1493802445        NaN     NaN     NaN     NaN     0.006509
1493804271        NaN     NaN     NaN     NaN    -0.004768
1493806094        NaN     NaN     NaN     NaN    -0.021275

[962949 rows x 5 columns]

In [9]:
SA0297_ts = TimeSeries(SA0297_TAC_df, agg_func=np.mean)
CC6740_ts = TimeSeries(CC6740_TAC_df, agg_func=np.mean)